* {
    margin: 0;
    padding: 0;
  }

:root{
    --Clarito: #00ffea;
    --Azul: #0b0894;
    --Negro: #000000;
    --Verdewsp: #075E54;
    --chat: #128C7E;
    --Rojo: #7f0505;
    --Blanco: #fff;
    --Gris: #5c5c5c;
    --Menta: #aefff4;
    --Verde: #5cca1d;
}
  
body {
  display: block;
  font-family: Arial, sans-serif;
  background-color: var(--Negro);
  color: var(--Blanco);
}

.whatsapp {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--Blanco);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  border-color: var(--Negro);
}

.whatsapp__inicio {
  background-color: var(--Verdewsp);
  padding: 10px;
  
}

img{
  width: 20px;
  height: 20px;

}

.whatsapp__titulo {
  font-size: 18px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}

.whatsapp__chats {
  background-color: var(--Negro);
  color: var(--Blanco);
  border-bottom: 2px solid var(--Gris);
}

.whatsapp__chats:hover {
background-color: var(--Menta);
cursor: pointer
}

.chat {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--Gris);
}

.chat__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat__detalles {
  flex: 1px;
}

.chat__nombre {
  font-weight: bold;
}

.chat__Ultimo--Mensaje {
  font-size: 0.9em;
  color: var(--Gris);
}

.chat__Ultimo--Mensaje-Verde{
  font-size: 0.9em;
  color: var(--Verde);
}

.chat__tiempo {
  font-size: 0.8em;
  color: var(--Gris);
}

.whatsapp__nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--chat);
  padding-bottom: 5px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.whatsapp__nav--link {
  color: var(--Blanco);
  text-decoration: none;
  font-size: 1em;
}

.whatsapp__nav--link:hover{
background-color: var(--Verdewsp);
cursor: pointer;
}

.whatsapp__nav--link--active {
  font-weight: bold;
  border-bottom: 2px solid var(--Blanco);
}


.Estados{
  background-color: var(--Negro);
  padding: 10px;
  display: nowrap;
  align-items: center;
  cursor: pointer;
}

.Estados:hover{
background-color: var(--Menta);
cursor: pointer
}

.Estados-Tab:target{
display: block;
}


.Estados-Lista{
  display: flex;
  flex-wrap: wrap;
}

.Estados-Item{
  margin: 10px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}

.foto {
  width: 50px;
  height: 60PX;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.Estados-Informa{
  display: flex;
  flex-direction: column;
}

.Estados-Nombre{
  font-weight: bold;

}